nav {
  padding: 10px;
}

i { font-size: 24px;}

.row {
  background: #e3f6f5;
  padding: 1rem;
  margin: 10px;
}

.column {
  display: inline-block;
}

/* menu */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

.sub-menu, .dropbtn, nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* sub menu */

.dropbtn {
  background-color: #333;
  color: white;
  border: none;
}
.sub-menu {
  padding: 0;
  margin-top: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content, .sub-menu:hover  .dropdown-content {display: block;}

.dropdown:hover .dropbtn, .sub-menu:hover .dropbtn{background-color: darkslategray;}